@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Indie+Flower&display=swap');

$font-young-serif: 'Young Serif', serif;
$font-indie-flower: 'Indie Flower', cursive;
$font-arial: Arial, Helvetica, sans-serif;
$primary-color: rgb(13, 157, 234);
$red-color: rgb(255, 0, 0);
$orange-color: rgb(244, 126, 9);
$purple-color: rgb(128, 0, 128);
