$color: #50cfee;
$color-dark: darken($color, 10%);
$color-border: rgba(darken($color, 60%), 0.45);

.enter-button-wrapper {
  position: absolute;
  bottom: 30%;
  background: $color;
  color: #ffffff;
  border-radius: 2rem;
  border: 0.15rem solid $color-border;
  box-shadow: 0 0 0 0.15rem $color-border;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.5rem;
  outline: none;
  padding: 1rem 2rem;
  transform-style: preserve-3d;
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: fadeIn 1s 4.1s forwards;
  animation: fadeIn 1s 4.1s forwards;
  opacity: 0;

  &::before {
    background: $color-dark;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: -40%;
    transform: translate3d(0, 0.5em, -1em);
    transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
    z-index: -1;
  }

  &:hover {
    transform: translate(0, 0.3rem);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .enter-button-wrapper {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1300px) and (min-width: 780px) {
  .enter-button-wrapper {
    font-size: 1.5rem;
  }
}
