@import 'variables';

.HtmlStyleIntroduce {
  width: 30rem;
  .HtmlStyleIntroduce-wrapper {
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    left: 10%;
    font-family: $font-young-serif;
    .blue {
      color: rgb(13, 157, 234);
    }
    .orange {
      color: rgb(244, 126, 9);
    }
    .purple {
      color: rgb(128, 0, 128);
    }
    .red {
      color: rgb(255, 0, 0);
    }
  }
}
