@import 'variables';

.HtmlStyleIntroduce {
  width: 30rem;
  .HtmlStyleIntroduce-wrapper {
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    left: 10%;
    font-family: $font-young-serif;
    .blue {
      color: $primary-color;
    }
    .orange {
      color: $orange-color;
    }
    .purple {
      color: $purple-color;
    }
    .red {
      color: rgb(255, 0, 0);
    }
  }
}
