.box {
  width: 80%;
  max-height: 80vh;
  overflow: hidden;
  position: relative;

  .swiper {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 80vh;

    .swiper-item {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        width: 37.5rem;
        object-fit: fill;
      }
    }
  }
}
