@import 'variables';

.typeWriter-axios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-size: 5rem;
    font-family: $font-Playpen;
    letter-spacing: 0.1em;
    width: 0;
    -webkit-animation: typing 1s steps(21, end) forwards,
      fadeOut 0.5s 1.5s forwards, blink 2s 2s linear;
    animation: typing 1s steps(21, end) forwards, fadeOut 0.5s 1.5s forwards,
      blink 2s 2s linear;
  }

  .spring-letter {
    position: absolute;
    display: flex;
    margin-left: 38rem;
    opacity: 0;
    -webkit-animation: fadeOut 4.6s 1s forwards;
    animation: fadeOut 4.6s 1s forwards;
    span {
      display: inline-block;
      font-size: 5rem;
      font-family: $font-Playpen;
      color: transparent;
      background-image: linear-gradient(
        198deg,
        rgba(6, 25, 244, 0.855) 11%,
        rgba(230, 9, 27, 0.689) 54%,
        rgb(7, 108, 239) 87%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-animation: doubleSpringBounce 3s forwards;
      animation: doubleSpringBounce 3s forwards;
      -webkit-animation-delay: calc(0.1s * var(--i));
      animation-delay: calc(0.1s * var(--i));
    }

    span:nth-child(1) {
      --i: 1;
    }
    span:nth-child(2) {
      --i: 2;
    }
    span:nth-child(3) {
      --i: 3;
    }
    span:nth-child(4) {
      --i: 4;
    }
    span:nth-child(5) {
      --i: 5;
    }
    span:nth-child(6) {
      --i: 6;
    }
    span:nth-child(7) {
      --i: 7;
    }
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 21ch;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes doubleSpringBounce {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  60% {
    transform: translateY(10vh);
    opacity: 1;
  }
  80% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes doubleSpringBounce {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  60% {
    transform: translateY(10vh);
    opacity: 1;
  }
  80% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1300px) {
  .typeWriter-axios {
    h1 {
      font-size: 1.5rem;
    }

    .spring-letter {
      margin-left: 11rem;
      span {
        font-size: 1.5rem;
      }
    }
  }
}
