@import 'variables';

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scroll-number-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    animation: fadeIn 2s forwards;

    .typeWriter-response {
      align-self: center;
      font-size: 2.5rem;
      font-family: $font-Playpen;
    }
    .scroll-number {
      display: flex;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 780px) {
  .animation {
    .scroll-number-wrapper {
      .typeWriter-response {
        h1 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1300px) and (min-width: 780px) {
  .animation {
    .scroll-number-wrapper {
      .typeWriter-response {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
