@import 'variables';

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    font-family: $font-young-serif;

    li {
      cursor: pointer;
      &:first-child {
        font-size: 3rem;
        font-family: $font-indie-flower;
        font-weight: 700;
      }

      &:hover {
        color: $primary-color;
        scale: 1.2;
      }
    }
  }
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:active {
      outline: none;
      background-color: transparent;
    }
  }

  .navbar-mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navbar-wrapper {
    margin-bottom: 6rem;
    .navbar-items {
      display: none;
    }

    .navbar-mobile {
      display: flex;
      img {
        cursor: pointer;
      }
    }

    .navbar-items-mobile {
      position: absolute;
      display: block;
      flex-direction: column;
      align-items: flex-start;
      list-style-type: none;
      top: 4.5%;
      margin: 0;
      padding: 0;
      li {
        font-family: $font-Playpen;
        cursor: pointer;
        margin-bottom: 0.3125rem;
      }
    }
  }
}
