@import 'variables';

.navbar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    font-family: $font-young-serif;
    li:first-child {
      font-size: 3rem;
      font-family: $font-indie-flower;
      font-weight: 700;
    }
  }
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
  }
}
