@import 'variables';
.projects-page {
  margin-top: 1rem;
  opacity: 0;
  -webkit-animation: fadeIn 2s forwards, scale 1s ease-in-out forwards;
  animation: fadeIn 2s forwards, scale 1s ease-in-out forwards;
  .projects-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .slogan {
      font-family: $font-Playpen;
      font-size: 2rem;
    }
    hr {
      width: 100%;
      border: 0.0625rem solid #808080;
      opacity: 0.3;
    }
    img {
      width: 40rem;
      height: 30rem;
    }
    .rh-project {
      display: flex;
      justify-content: center;
      gap: 4rem;
      font-family: $font-arial;
      font-size: 1.2rem;

      .rh-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        img {
          width: 12.5rem;
          height: 3.75rem;
          cursor: pointer;
        }

        .rh-information-p {
          width: 30rem;
          text-align: justify;
        }
      }
    }

    .ts-project {
      display: flex;
      justify-content: center;
      gap: 4rem;
      font-family: $font-arial;
      font-size: 1.2rem;

      .ts-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        img {
          width: 12.5rem;
          height: 3.75rem;
          cursor: pointer;
        }

        .ts-information-p {
          width: 30rem;
          text-align: justify;
        }
      }
    }
  }

  .modal.modal-open {
    display: flex;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal-content {
    background-color: #fff;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  }

  .modal img {
    max-width: 100%;
    max-height: 100%;
  }

  .modal-content::-webkit-scrollbar {
    display: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .projects-page {
    margin: 0 auto;
    margin-top: 6rem;
    .projects-page-wrapper {
      .rh-project,
      .ts-project {
        max-width: 600px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        .rh-information,
        .ts-information {
          p {
            align-self: normal;
          }
        }
      }
    }
  }
}
