.container {
  position: relative;

  .main-image {
    overflow: hidden;
    position: relative;
    &:hover {
      scale: 1.1;
    }

    .left-arrow {
      position: absolute;
      top: 50%;
      left: 0;
      color: gray;
      font-size: 1.5rem;
      border-style: none;
      z-index: 2;
    }

    .right-arrow {
      position: absolute;
      top: 50%;
      right: 0;
      color: gray;
      font-size: 1.5rem;
      border-style: none;
      z-index: 2;
    }

    .swiper {
      width: 40rem;
      display: flex;
      transition: transform 1s ease-in-out;

      .swiper-item {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25rem;

        img {
          width: 100%;
          height: 28.4375rem;
          object-fit: cover;
        }
      }
    }
  }
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 10;

  &.closing {
    transition: transform 0.5s linear, opacity 0.5s linear;
    transform: scale(0);
    opacity: 0;
  }
  .modal-image {
    max-height: 80vh;
    overflow: hidden;
    position: relative;

    .modal-close-btn {
      position: absolute;
      top: 3.5%;
      right: 0%;
      background: transparent;
      border-style: none;
      color: gray;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 2;
    }
    .swiper {
      width: 80rem;
      height: 80vh;
      display: flex;
      transition: transform 1s ease-in-out;

      .swiper-item {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
          width: 100%;
          height: 60rem;
          object-fit: fit;
        }
      }
    }

    .left-arrow {
      position: absolute;
      width: 2rem;
      top: 50%;
      left: 0;
      color: gray;
      background-color: (255, 255, 255, 0, 0.3);
      border-style: none;
      z-index: 99;
    }

    .right-arrow {
      position: absolute;
      width: 2rem;
      top: 50%;
      right: 0;
      color: gray;
      background-color: (255, 255, 255, 0, 0.3);
      border-style: none;
      z-index: 99;
    }
  }
}

@media screen and (max-width: 1200px) {
  .modal {
    .modal-image {
      .swiper {
        width: 40rem;
        height: 60vh;
        .swiper-item {
          img {
            height: 40rem;
          }
        }
      }
    }
  }
}
