@import 'variables';
.introduce {
  position: relative;
  margin-top: 5rem;

  .name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    left: 2%;
    top: 3%;
    -webkit-animation: SlideFromLeft 0.5s ease-in-out forwards;
    animation: SlideFromLeft 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
    opacity: 0;
    transform: translateX(-100%);

    span {
      align-self: baseline;
      &:first-child {
        font-family: $font-young-serif;
        font-size: 3rem;
        color: #2b2a6e;
      }

      &:last-child {
        font-family: $font-young-serif;
        font-size: 5rem;
        font-weight: bold;
        font-style: italic;
        color: rgba(44, 18, 157, 0.861);
      }
    }
  }
  .title {
    position: absolute;
    display: flex;
    align-items: center;
    top: 25%;
    right: 5%;
    opacity: 0;
    transform: translateX(100%);
    -webkit-animation: SlideFromRight 0.5s ease-in-out forwards;
    animation: SlideFromRight 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.85s;
    animation-delay: 0.85s;

    img {
      width: 3rem;
      align-self: flex-end;
    }

    span {
      white-space: nowrap;
      font-family: $font-young-serif;
      font-size: 3rem;
      color: #2b2a6e;
    }
  }

  .learner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 46%;
    left: 2%;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-animation: SlideFromLeft 0.5s ease-in-out forwards;
    animation: SlideFromLeft 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;

    .learner-subtitle {
      align-self: flex-end;
      font-family: $font-arial;
      font-size: 1rem;
      color: rgba(100, 99, 99, 0.936);
      opacity: 0;
      -webkit-animation: SubtileFadeIn 1s ease-in-out forwards;
      animation: SubtileFadeIn 1s ease-in-out forwards;
      -webkit-animation-delay: 1.1s;
      animation-delay: 1.1s;
    }
    span {
      font-family: $font-arial;
      font-size: 3rem;
      color: #2b2a6e;
    }
  }

  .life {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 18%;
    left: 10%;
    opacity: 0;
    transform: translateX(100%);
    -webkit-animation: SlideFromRight 0.5s ease-in-out forwards;
    animation: SlideFromRight 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;

    .life-subtitle {
      align-self: flex-end;
      font-family: $font-arial;
      font-size: 1rem;
      color: rgba(100, 99, 99, 0.936);
      opacity: 0;
      -webkit-animation: SubtileFadeIn 1s ease-in-out forwards;
      animation: SubtileFadeIn 1s ease-in-out forwards;
      -webkit-animation-delay: 1.1s;
      animation-delay: 1.1s;
    }
    span {
      font-family: $font-arial;
      font-weight: 700;
      font-size: 3.2rem;
      white-space: nowrap;
      color: #2b2a6e;
    }
  }
  .introduce-and {
    position: absolute;
    display: inline-block;
    border: 0.0625rem solid gray;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.1rem 0.5rem;
    font-size: 2rem;
    bottom: -4%;
    left: 1%;
    box-shadow: inset 0.08rem 0.08rem;
    opacity: 0;
    -webkit-animation: SubtileFadeIn 1s ease-in-out forwards;
    animation: SubtileFadeIn 1s ease-in-out forwards;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .introduce-person {
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);
    font-family: $font-Playpen;
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    white-space: nowrap;
    color: #5552e2;
    opacity: 0;
    -webkit-animation: SubtileFadeIn 1s ease-in-out forwards;
    animation: SubtileFadeIn 1s ease-in-out forwards;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
  }
}

@-webkit-keyframes SlideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SlideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes SlideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SlideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes SubtileFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes SubtileFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .introduce {
    img {
      width: 350px;
    }
    .name {
      display: flex;
      align-items: center;
      span {
        &:first-child {
          font-size: 1.5rem;
        }
        &:last-child {
          font-size: 1.5rem;
        }
      }
    }

    .title {
      left: 25%;
      img {
        width: 1.5rem;
      }
      span {
        font-size: 1rem;
      }
    }

    .learner {
      display: flex;
      flex-direction: column;
      top: 45%;
      span {
        font-size: 1rem;
      }
    }
    .life {
      bottom: 5%;
      span {
        font-size: 1rem;
      }
    }
    .introduce-and {
      bottom: -4%;
    }

    .introduce-person {
      bottom: -18%;
      font-size: 2rem;
    }
  }
}
// @media screen and (max-width: 560px) {
//   .introduce {
//     img {
//       width: 400px;
//     }
//     .name {
//       span {
//         &:first-child {
//           font-size: 2rem;
//         }
//         &:last-child {
//           font-size: 2rem;
//         }
//       }
//     }

//     .title {
//       left: 25%;
//       img {
//         width: 2rem;
//       }
//       span {
//         font-size: 1.5rem;
//       }
//     }

//     .learner {
//       top: 42%;
//       span {
//         font-size: 2rem;
//       }
//     }
//     .life {
//       bottom: 5%;
//       span {
//         font-size: 1.5rem;
//       }
//     }

//     .introduce-person {
//       font-size: 2rem;
//     }
//   }
// }
