@import 'variables';

.skills-card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .front-end,
  .back-end,
  .cloud-service,
  .api-skill,
  .database-skill,
  .test-skill,
  .others {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: $font-Playpen;
      font-size: 1.5rem;
    }
    .front-end-card,
    .back-end-card,
    .cloud-service-card,
    .api-skill-card,
    .database-skill-card,
    .test-skill-card,
    .others-card {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.2rem;
    }
  }

  hr {
    margin-top: 2rem;
    width: 100%;
  }
}
